.full-width {
    width: 100%;
}

.error {
    color: red;
}

.contentPicker {
    padding: 0.5em 0.5em;
    line-height: 36px;
}

.contentPickerBox {
    border: 0.5px solid grey;
    margin: 0.5em 0;
}

.contentPickerTitle {
    padding: 1em 0;
 }

.contentButton {
    display: block;
    float: right;
}

.addContentBlock {
    margin: 1em 0;
}

.addCourse {
    width: 90%;
}

.addButton {
    display: block;
    float: right;
    /* padding-top: 0.5em; */
}

.addActivity {
    width: 15%;
}

.content-table {
    width: 100%;
    margin-top: 1em;
}

.buttons {
    display: flex;
    gap: var(--standard-gap)
}
