mat-card {
  flex: 1;
  padding: var(--standard-padding);
  gap: var(--standard-gap);
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: auto;
  gap: var(--standard-gap);
}

#ratify-qualification-button {
  color: var(--app-button-text);
  background-color: var(--app-review-button);
}

.edit-qualification-name-buttons {
  cursor: pointer;
  border: none;
  background: none;
}

#new-qualification-name-form {
  display: flex;
  flex-direction: column;
}