.content {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

.paginator {
  background: #f5f5f5;
}

.mat-toolbar-row { 
  justify-content: space-between; 
} 

.mat-toolbar {
    margin-bottom: 5%;
}

tr.sidequest-row:not(.expanded-side-quest-row):hover {
  background: whitesmoke;
}

tr.sidequest-row:not(.expanded-side-quest-row):active {
  background: #efefef;
}

.sidequest-row td {
  border-bottom-width: 0;
}

.expanded-side-quest-row {
  background: #efefef;
}

.side-quest-detail {
  display: inline;
  font-size: 16px;
}

.disp {
  display: none;
}

.filter-add-button-container{
  display: flex;
  justify-content: space-between;
}