.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item{
    width: 100%;
}

#feedbackList{
    position: sticky;
    align-self: flex-start;
    top: 0em
}