<div class="full-width">
  <h3>Create New Course</h3>
  <p>
    Before creating a course, it must be in a folder inside the Azure courses directory (this is used when adding sections later).
    Look at other courses in this directory to understand the structure as well as how images are stored (inside an images folder) and used.
    Additionally, the icon must exist in the app/images/logos directory.
    <a href="mailto:atcteam@bbd.co.za?Subject=Upload Course Help" target="_top">ATC</a> can help you with these steps.
  </p>
  <course-editor></course-editor>
</div>
