.accordion {
    display: block;
  max-width: 500px;
}

.accordion-item {
    display: block;
  border: solid 1px;
}

.accordion-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: none;
  border: none;
  padding: 16px;
  text-align: left;
}

.accordion-item-description {
  font-size: 0.85em;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
