.qa, .dev {
  background: linear-gradient(90deg, rgba(251,218,45,1) 0%, rgba(255,115,40,1) 35%, rgba(255,29,0,1) 100%);
  background-size: cover;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-body-wrapper {
  background: rgba(250, 250, 250, 1);
}

.mat-mdc-tab-group, mat-tab-group {
  background: rgba(250, 250, 250, 1);
}

.search-container{
  display: flex;
  justify-content: center;
  padding: 1em;
  margin: var(--standard-margin);
  box-shadow: 0 0 0.25em gray;
}