#selectedUserPanel{
    background: linear-gradient(to bottom, rgb(238, 238, 238), rgba(0, 0, 0, 0));
    padding: 0.5em;
}
.userDetails{
    margin:0.2em;
    font-weight:normal;
    color:gray;
}

.userDetailsHeading{
    margin: 0.2em;
}

h3.userDetailsHeading {
    font-size: x-large;
    margin-top: -0.7em;
}

h4.userDetailsHeading {
    font-size: larger;
    margin-bottom: 0.5em;
}

.activeRow{
    background-color: #F8F4F4;
}

.roundedButton{
    min-width: 11em;
    border-radius: 25px; 
    margin-left: 0.5em;
}

.assignmentButtonPanel{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
    margin:0.7em;
}

.container{
    min-height: 22em;
    max-height: 38vh;
    max-width: 100%;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0.4em;
    overflow-y: scroll;
    background: #F8F4F4;
    box-shadow: inset 0 0 4px #c0c0c0;
}

::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 10px;
}

.scroller {
  overflow-y: scroll;
  scrollbar-color:  rgb(248, 244, 244) rgba(192, 192, 192) ;
  scrollbar-width: thin;

}

.filter > mat-form-field{
    max-width: 50em;
    margin-left:0;
}

#feedbackUsageInfoPanel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5em;
    font-size: large;
    color:gray;
}

.invalidMessage{
    color: var(--accent-color);
    font-size: medium;
    border: solid 1px  var(--accent-color);
    width: 100%;
    padding: 1em 2em;
}

.externalReviewer{
    background-color: #f3f1f1;
}

#emailDetails{
    display: flex;
    align-items: center;
}

#emailDetailsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-end: 1em;
    align-items: center;
    gap: 1em;
}

.feedbackSpinner {
    margin: auto;
}