.hex {
  height: 2.5em;
  width: 2.5em;
  stroke: var(--app-tertiary-color);
  fill: var(--app-tertiary-color);
  margin-bottom: 0;
}

.hex-highlighted{
  stroke: var(--app-primary-color);
  fill: var(--app-primary-color);
}

.hex-group,
.hex-name {
  display: flex;
}


.hex-name > span {
  color: var(--app-secondary-color);
}

.sub-name{
  font-size: small;
  color: var(--app-tertiary-color);
  display: flex;
  margin-left: 2em;
}


.sub-gear-name{
  font-size: small;
  color: var(--app-lighter-text-color);
  margin-left: 1.7em;
  text-align: left;
}

.hex-container{
      display:flex;
      flex-direction: column;
}

.hex-name.done > span {
  color: var(--app-done-color);
}

.hex-group:nth-child(even) {
  margin: -1.2em 0em 0.3em 1.7em;
}

.hex-group:nth-child(odd) {
  margin: -1.5em 0em 0em 0em;
}

.offset-gear{
  margin-left: 1.5em;
}

/* Todo: Convert this to use --readable-font-size. - Mike 09/12 */
.name {
  font-weight: lighter;
  flex: 0 1 auto;
  margin-top: 0.5em;
  margin-left: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 16em;
}

.side-quest-link {
  flex: 1 1 auto;
  display: flex;
  cursor: pointer;
}

.odd-name {
  margin-left: 2.2em;
}

.small .hex {
  height: 2em;
  width: 2em;
  margin: 0.6em 0em 0 0.5em;
}

.small span {
  font-size: 1em;
  margin-left: 0.3em;
  margin-top: 0.8em;
  width: 12em;
}

.hex-name:hover {
  color: var(--app-primary-color);
}
.hex-name:hover > span {
  color: var(--app-primary-color);
}

.hex-name:hover svg {
  stroke: var(--app-primary-color);
  fill: var(--app-primary-color);
}

@media (min-width: 460px) {
  .hex {
    height: 3.5em;
    width: 3.5em;
  }

  .side-quest:nth-child(even),
  .hex-group:nth-child(even) {
    margin: -1em 0em 0.3em 1.6em;
  }

  .side-quest:nth-child(odd),
  .hex-group:nth-child(odd) {
    margin: -1.3em 0em 0em 0em;
  }

  .name {
    margin-top: 0.6em;
    margin-left: 1em;
    font-size: var(--readable-font-size);
    max-width: 29em;
  }

  .side-quest:nth-child(odd),
  .odd-name {
    margin-left: 2.33em;
  }

  .small span {
    width: auto;
  }
}
