.content {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
table {
  width: 100%;
}
tr.detail-row {
  height: 0;
}
.paginator {
  background: #f5f5f5;
}
.mat-toolbar-row { 
  justify-content: space-between; 
} 
.mat-toolbar {
    margin-bottom: 5%;
}
tr.track-row:not(.expanded-track-row):hover {
  background: whitesmoke;
}
tr.track-row:not(.expanded-track-row):active {
  background: #efefef;
}
.track-row td {
  border-bottom-width: 0;
}
.expanded-track-row {
  background: #efefef;
}
.track-detail {
  display: inline;
  font-size: 16px;
}
.disp {
  display: none;
} 

.filter-container {
  display: flex;
  justify-content: space-between;
}

mat-paginator {
  margin-left: auto;
}