.noteAlert{
  color: var(--accent-color);
  height: 3em;
  border-radius: 5px;
  border: solid 1px  var(--accent-color);
  background-color: rgba(255, 245, 246, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2em;
}

.buttonPanel{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--standard-padding);
}

mat-form-field.mat-mdc-form-field {
  width: 100%;
}

.dialog-title {
  height: 2em;
  background-color: var(--header-color);
  color: white;
  padding-top: 0.2em;
  padding-left: 1em;
  border-radius: 0.2em;
  text-align: center;
}

.details-container {
  padding: var(--standard-padding);
}