.component {
  display: flex;
  flex-direction: column;
  padding: var(--standard-padding);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.search-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.canonical-name-input-container {
  display: flex;
  gap: var(--standard-gap);
  align-items: baseline;

  & > mat-form-field{
    flex: 1;
  }
}

app-canonical-name-card {
  display: flex;
  min-width: 20rem;
  max-width: 40rem;
  flex-basis: 30rem;
  flex-grow: 1;
  flex-shrink: 1;
}

.icon {
  margin: 0
}

mat-paginator {
  display: flex;
  background: none;
  justify-content: center;
}

.search-bar {
  flex-grow: 1; 
}
