button{
    width: fit-content;
    margin-left: 10px;
}

.component {
    padding-top: 1rem;
}

.unit-change-review-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.selected {
  background-color: var(--selected-row-background-colour);
}

.filter {
  margin-block: var(--standard-gap);
}