#progress-spinner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
h2 > span {
  font-weight: lighter;
}
.course {
  padding-left: 1em;
  display: flex;
}

.course > * {
  flex: 1 1 auto;
}

.course > div {
  margin-top: 1.6em;
}

.course > div > p {
  margin-top: 0.3em;
}



