<section>
    <p>Hi {{displayName}},</p>
          
    <p>We have noticed that you have not updated your profile on The Hive in the last 6 months and would like you to reflect and update accordingly.</p>
          
    <p>Please let us know if you have learned any new skills, completed any certification/qualification or gained any other industry knowledge by updating your portfolio on:</p>
</section>
          