<html>
  <body>
    <table
      width='100%'
      border='0'
      cellspacing='0'
      cellpadding='0'
      style='{{font}}'
    >
      <tr>
        <td style='font-family: Arial, sans-serif; line-height: 1.6; font-size:22pt'>
          <img
              style='margin:auto'
              src='cid:{{image.name}}'
              alt='{{image.altText}}'
            />
          <h1 style='font-size:40pt'>The Hive</h1>
          Portfolio Update Reminder
        </td>
      </tr>
      <tr style='padding-top:15px'>
        <td style='font-family: Arial, sans-serif; line-height: 1.6; font-size:12pt'>
          {{{message}}}
          <p><a href="https://the-hive.bbd.co.za/skills/" style="color:#C72026; text-decoration:none;">https://the-hive.bbd.co.za/skills/</a></p>
        </td>
      </tr>
      <tr style='margin-top: 30px;'>
        <td width='500' align='left'>
          <a
            href='https://the-hive.bbd.co.za/skills/'
            style='font-family: Arial, sans-serif; line-height: 1.6; background-color:#C72026;border:5px solid #C72026;border-radius:4px;color:#ffffff;display:inline-block;font-size:22pt;font-weight:bold;line-height:30px;text-align:center;text-decoration:none;width:320px;'
          >Update My Profile</a>
        </td>
      </tr>
      <tr style='margin-top: 30px;'>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>