<section>
    <p>Dear {{displayName}},</p>

          <p>Thank you for uploading your qualification or certification document.</p>

          <p>Upon review, we found that the document provided does not meet the required criteria and has therefore been
            rejected as your
            <strong>{{rejectedProof}}</strong>.</p>

          <p>Please upload the correct and valid proof of your qualification/certification at your earliest convenience
            to proceed with the verification process.</p>

          <p>If you need any assistance, please contact <a href="mailto:HR@bbdsoftware.com">HR@bbdsoftware.com</a>.</p>

          <p>Kind regards,<br />
            <strong>The Hive Team</strong></p>
</section>