h1 {
  color: var(--header-color);
  font-size: var(--font-size-medium);
  margin-inline: var(--standard-padding);
  margin-block: 0;
  padding-block: var(--standard-padding);
}

.confirmation-text{
  margin-block: 0;
  margin-inline: var(--standard-padding);
}

.actions {
  display: flex;
  gap: var(--standard-padding);
  justify-content: flex-end;
  padding-block: var(--standard-padding);
  margin-inline: var(--standard-padding);
}

mat-error{
  padding: var(--standard-padding);
}