.full-width {
    width: 100%;
}

.error {
    color: red;
}

.contentPickerTitle {
    padding: 1em 0;
 }


.addContentBlock {
    margin: 1em 0;
}

.addRestriction {
    width: 90%;
}

.addButton {
    display: block;
    float: right;
}

.content-table {
    width: 100%;
    margin-top: 1em;
}
