.content {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

.paginator {
  background: #f5f5f5;
}

.mat-toolbar-row { 
  justify-content: space-between; 
} 

.mat-toolbar {
    margin-bottom: 5%;
}

tr.group-row:not(.expanded-group-row):hover {
  background: whitesmoke;
}

tr.group-row:not(.expanded-group-row):active {
  background: #efefef;
}

.group-row td {
  border-bottom-width: 0;
}

.expanded-group-row {
  background: #efefef;
}

.group-detail {
  display: inline;
  font-size: 16px;
}

.disp {
  display: none;
} 