mat-card {
  flex: 1;
  padding: var(--standard-padding);
  gap: var(--standard-gap);
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: auto;
  gap: var(--standard-gap);
}

*:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#approve-attribute-button {
  color: var(--app-button-text);
  background-color: var(--app-review-button);
  display: flex;
    align-items: center;
    justify-content: center;
}

#reject-attribute-button {
  color: var(--app-button-text);
  background-color: var(--accent-color);
}

#edit-attribute-button {
  cursor: pointer;
  border: none;
  background: none;
}

#cancel-edit-button {
  cursor: pointer;
  border: none;
  background: none;
}

#save-edit-button {
  cursor: pointer;
  border: none;
  background: none;
}

#new-name-input {
  font-size: large;
}

#new-attribute-name-form {
  display: flex;
  flex-direction: column;
}

app-loading-indicator {
  width: 2em;
  height: 2em;
  display: inline-block;
  --stroke-color: white;
  vertical-align: top;
  padding-inline: 1em;
}