<div class="full-width">
  @if(sideQuest.name){
    <h3>Manage Side Quest: {{ sideQuest.name }}</h3>
  }@else{
    <h3>Create New Side Quest</h3>
  }
  <form [formGroup]="sideQuestForm" #parentForm="ngForm" (ngSubmit)="saveQuest()">
    <div class="container">
      <mat-form-field class="full-width container-content">
        <mat-label>Side Quest Type*</mat-label>
        <mat-select formControlName="type">
          <mat-option [value]="type.code" *ngFor="let type of typeSubscription$ | async">{{ type.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width container-content-right">
        <mat-label>Name*</mat-label>
        <input matInput formControlName="name" [errorStateMatcher]="matcher" />
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field class="full-width container-content">
        <mat-label>Link</mat-label>
        <input matInput formControlName="link" [errorStateMatcher]="matcher" />
      </mat-form-field>
      
      <mat-form-field class="full-width container-content-right">
        <mat-label>Venue*</mat-label>
        <input matInput formControlName="venue" [errorStateMatcher]="matcher" />
      </mat-form-field>
    </div>

    <div class="container container-align">
      <mat-form-field class="full-width container-content">
        <mat-label>Description*</mat-label>
        <textarea matInput formControlName="description" [errorStateMatcher]="matcher"
          cdkTextareaAutosize 
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="5">
        </textarea>
        <mat-hint align="end">Markdown supported</mat-hint>
      </mat-form-field>
      <div class="container-content-right correct-date-picker">
        <app-date-time-picker formControlName="startDate" label="Start" ></app-date-time-picker>
      </div>
    </div>
    
    <div>
      <mat-checkbox class="padded inlineBlock" formControlName="external">External event</mat-checkbox>
      <mat-checkbox class="padded inlineBlock" formControlName="registrationRequired">Registration required</mat-checkbox>
    </div>

    <div class="marginBottom">
      <app-manage-restrictions
      contentIdString="sideQuestId"
      [contentId]='sideQuest.id' 
      contentType="Side-Quest" 
      [contentName]='sideQuest.name'
      (currentRestrictions)="restrictGroup=$event"
      >
      </app-manage-restrictions>
    </div>

    <div class="error" *ngIf="error">
      Please ensure all required fields are filled in and that there are no errors above.
    </div>
    <h3>Registered Users</h3>
    @if(sideQuestUserData.data.length){
    <mat-expansion-panel togglePosition="before">
      <mat-expansion-panel-header>
        <mat-panel-title>
          List of registered Users
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="users-table mat-elevation-z8">
        <table mat-table [dataSource]="sideQuestUserData" class="mat-elevation-z8">
          <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef> Display Name </th>
            <td mat-cell *matCellDef="let user"> {{user.displayName}} </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let user"> {{user.upn}} </td>
          </ng-container>
          <ng-container matColumnDef="dateRegistered">
            <th mat-header-cell *matHeaderCellDef> Date Registered </th>
            <td mat-cell *matCellDef="let user"> {{user.dateRegistered | dateFormat}} </td>
          </ng-container>
          <ng-container matColumnDef="dateCompleted">
            <th mat-header-cell *matHeaderCellDef> Date Completed </th>
            <td mat-cell *matCellDef="let user"> {{user.dateCompleted | dateFormat}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-expansion-panel>
    } @else {
    <p>No Registered users to display yet.</p>
    }
    <div class="buttons">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button color="warn" type="button" (click)="onCancel()" matTooltip="Cancel"
        matTooltipShowDelay="1000">
        Cancel
      </button>
    </div>
    
  </form>
</div>