#component{
    overflow: hidden;
}

#reviewFilterPanel{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5em;
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#reviewFilterPanel > * {
    margin-inline: 0.5em;
}

.dateRangePicker {
    margin-right: 1em;
}

.searchContainer{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.searchContainer > mat-form-field{
    margin-left: 2em;
    flex-grow: 1;
}

#newReviewPanel{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5em;
    padding-left: 2em;
}

#newReviewPanel h3{
    background-color: #faaaaa;
    color: #6c0000;
    margin: 0;
    padding: 0.5em;
    max-width: 80ch;
}

mat-form-field{
    margin-top: 0.5em;
    font-size: small;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-mdc-list-base .mat-mdc-list-item, .mat-mdc-list-base .mat-list-option{
    height: 1.5em;
}


#reviewScreen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70vh;
}

#reviewScreen > div{
    height:100%;
}

#reviewPanel{
    overflow-y: scroll;
    height: 65vh;
    margin-bottom:10vh;
}

::-webkit-scrollbar {
    width: 0.4em;
    overflow-y: scroll;
    background: #F8F4F4;
    box-shadow: inset 0 0 4px #c0c0c0;
}

::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 10px;
}

.scroller {
  overflow-y: scroll;
  scrollbar-color:  rgb(248, 244, 244) rgba(192, 192, 192) ;
  scrollbar-width: thin;

}

#reviewPanel{
    flex: 1.4 1 0;
    padding: 0.5em 1em;   
}

#assignmentPanel{
    background-color: #F8F4F4;
    flex: 1 1 0;
    padding: 1.5em;
    overflow: scroll;
}

.invalidMessage{
    color: var(--accent-color);
    font-size: small;
}

@media only screen and (max-width: 1400px) {
    /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
    #reviewFilterPanel mat-list-option{
        font-size: smaller;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
    .mat-mdc-list-base .mat-mdc-list-item, .mat-mdc-list-base .mat-list-option{
        height: 2em;
    }
}

@media only screen and (max-width: 1300px) {
  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
  #reviewFilterPanel mat-list-option{
        font-size: x-small;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
  .mat-mdc-list-base .mat-mdc-list-item, .mat-mdc-list-base .mat-list-option{
        height: 2.5em;
  }

}

@media only screen and (max-width: 1200px) {
    /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
    .mat-mdc-list-base .mat-mdc-list-item, .mat-mdc-list-base .mat-list-option{
        height: 3em;
    }

    .searchContainer {
        width: 20em;
    }

    .dateRangePicker {
        width: 15em;
    }
}
