.skills-search-form-container{
  margin-block: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.search-bar{
  flex-grow: 1;
}

.search-input-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#search-button {
  background: var(--header-color);
  color: var(--app-button-text);
}
.search-options-container{
  display: flex;
  justify-content: flex-end;
  gap: var(--large-spacing);
  align-items: center;
}

.table-container {
  container-type: inline-size;
}

mat-header-row {
  font-weight: bold;
}

.message{
  text-align: center;
}

@container (max-width: 90rem) {
  mat-table {
    border: 0;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
  }

  mat-header-row {
    display: none;
  }

  mat-cell {
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    word-break: break-all;
  }

  mat-cell::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    word-break: normal;
  }

  mat-table:last-child {
    border-bottom: 1px solid #ddd;
  }

  mat-row {
    display: block;
    flex-grow: 1;
  }
}

::ng-deep .search-results-spinner-container .mdc-list-item__primary-text{
  width: 100%;
  display: flex;
  justify-content: center;
}