.content {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

th.mat-mdc-header-cell {
  text-align: center !important;
}

.paginator {
  background: #f5f5f5;
}

.mat-toolbar-row { 
  justify-content: space-between; 
} 

.mat-toolbar {
    margin-bottom: 5%;
}

tr.levelup-row:not(.expanded-level-up-row):hover {
  background: whitesmoke;
}

tr.levelup-row:not(.expanded-level-up-row):active {
  background: #efefef;
}

.levelup-row td {
  border-bottom-width: 0;
}

.expanded-level-up-row {
  background: #efefef;
}

.level-up-detail {
  display: inline;
  font-size: 16px;
}