<section class="review-feedback-container">
  <section class="review-list">
    <app-review-list
      [reviewData]="reviewData"
      [reviewColumns]="reviewColumns"
      (selectedRow)="fetchFeedbackAssignments($event.review)"
      [isRowSelectable]="true"
      [showHrNotesButton]="true"
      (actionButton)="selectFeedbackProviders($event.review, $event.actionButton)"
      [actionButtonText]="assignProvidersButtonText"
      [actionButtonIconName]="actionButtonIconName"
      [cancelButtonText]="cancelButtonText"
      [buttonsEnabled]="buttonsEnabled" 
      [showMoveToFeedbackCompletedButton]="true"
    ></app-review-list>
  </section>
  <section class="feedback-list">
    <section [class.loading]="feedbackAssignments === undefined">
      @if (feedbackAssignments !== undefined) {
        @if (feedbackAssignments.length > 0) {
          <app-feedback-list
            [assignmentData]="feedbackAssignments"
            [assignmentColumns]="assignmentColumns"
            [currentReviewUPN]="currentReviewUPN"
          ></app-feedback-list>
        } @else {
          <section class="noDataToDisplayLabel"><label>There are no reviews assigned</label></section>
        } 
      } @else {
      <section><mat-spinner></mat-spinner></section>
    }
    </section>
  </section>
</section>
