.reassign-guides-container {
    display: flex;
    gap: var(--standard-gap);
    padding: var(--standard-padding);
    justify-content: space-between;
}

.reassign-guides-container-item {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero {
    cursor: move;
}

.hero-information, .hero-information section {
    display: flex;
    justify-content: space-between;
    gap: var(--standard-gap);
    flex: 1;
}

.drag-drop-area {
    margin-block-start: var(--standard-gap);
    border: var(--primary-color) dashed var(--standard-border-width);
    border-radius: var(--header-color);
}

.drag-drop-area p {
    text-align: center;
    color: var(--remaining-characters-hint-color);
}

.guide-title {
    text-align: center;
}

.guide-status, .hero-specialisation {
    background-color: var(--header-color);
    color: var(--app-button-text);
    border: none;
    border-radius: var(--standard-border-radius);
    padding-inline: var(--standard-padding);
}

.guide-option p {
    margin: 0;
}

.guide-specialisation-text, .guide-status-text, .hint-text {
    font-size: small;
    color: var(--remaining-characters-hint-color);
}

.guide-form {
    margin-block-end: var(--standard-gap);
}

