.questions {
  padding: 1em 1em;
  border: solid 1px black;
}

.answer-input{
  width: 60%;
}

.question-list{
  padding: 0;
  list-style-type: none;
}

.delete-button{
  display: flex;
  float: right;
}

.centered-text{
  display: flex;
  align-items: center;
}