.content {
  padding-left: 1em;
  padding-right: 1em;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

.paginator {
  background: #f5f5f5;
}

.mat-toolbar-row { 
  justify-content: space-between; 
} 

.mat-toolbar {
  margin-bottom: 5%;
}

tr.template-row:not(.expanded-template-row):hover {
  background: whitesmoke;
}

tr.template-row:not(.expanded-template-row):active {
  background: #efefef;
}

.template-row td {
  border-bottom-width: 0;
}

.expanded-template-row {
  background: #efefef;
}

.template-detail {
  display: inline;
  font-size: 16px;
}

.cancelButton {
  display: flex;
  margin-bottom: 0.7em;
  margin-top: -2.7em;
}