
.timeline {
  position: relative;
  max-height: 50vh;
  padding-right: 3em;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  background-color: inherit;
  flex: 1;
}
  
.content {
  padding: 0.5em  0.7em;
  background-color: ghostwhite;
  position: relative;
  border-radius: 6px;
  margin-bottom: 1em;
  box-shadow: 0 4px 2px -2px rgb(192 192 192 / 40%);
  overflow-x: hidden;
}


.commentDate{
    font-size: small;
    color: gray;
    
}

.commentText{
    font-size: medium;
    color: black;
}

.commentAuthor{
    font-size: small;
    color: gray;
}

::-webkit-scrollbar {
    width: 0.4em;
    overflow-y: scroll;
    background: #F8F4F4;
    box-shadow: inset 0 0 4px #c0c0c0;
}

::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 10px;
}

.newCommentPanel mat-form-field{
    width: 100%;
}

.newCommentPanel{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: inset 0 0 4px #c0c0c0;
    border-radius: 10px;
    padding: var(--standard-padding);
    max-height: 60vh;
    min-height: 55vh;
    gap: var(--standard-gap)

}

.addCommentButton{
    background-color: var(--tertiary-color);
    margin-left: 1em;
}

#commentHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#closeButton :hover{
 font-weight: bold;
 color:black;
}

.noCommentText {
  text-align: center;
}

.noCommentContent {
  background: none;
}

#commentHeader h1 {
  margin: 0;
}