.mat-tab-body-wrapper {
  background: rgba(250, 250, 250, 1);
}

.mat-mdc-tab-group, mat-tab-group {
  background: rgba(250, 250, 250, 1);
}

.search-container{
  display: flex;
  justify-content: center;
  padding: 1em;
  margin: var(--standard-margin);
  box-shadow: 0 0 0.25em gray;
}