.event-form {
  display: flex;
  margin: 2rem;
  flex-direction: column;
  align-items: center;
}

section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.mat-expansion-panel-header-title {
  justify-content: center;
}

mat-expansion-panel {
  margin-bottom: 1rem;
}

:host ::ng-deep .mat-mdc-form-field {
  min-width: auto;
}
